---
import type {Tree_t, Treenode_t, TreeData} from "../type/interface"
import {BuildTree} from "../logic/tree"
import data from "../data/fhs.json"

const { path} = Astro.props;

---

<div>
    {path}
</div>