---
import data from "../data/fhs.json"
import TreeNodeBase from "../components/Path.astro"
import Tree from "../components/Tree.astro"

---

<div id="container">
	<main>
		<section id="hero">
			
			<h1>
				<span id="cursor">▋</span> Les cordonier etant les plus mal chaussé...
			</h1>
			<div>
				{
					data.map((m) => {
						const a = m["path"];
						return(<TreeNodeBase path={a} />)
					})
				}
			</div>
			<div id="Tree">
				<Tree>

			</div>
		
		</section>
	</main>

	
</div>

<style>
	
	#cursor {
		display: inline-block;
		width: 0.6em;
		height: 1em;
		background-color: var(--cursor-color, #00ff00);
		margin-left: 2px;
		animation: blink 1.2s steps(1) infinite;
	}

	@keyframes blink {
	0%   { opacity: 1; }
	50%  { opacity: 0; }
	100% { opacity: 1; }
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		position: fixed;
		top: 9px;
		left: 9px;
		right: 9px;
		bottom: 9px;
		border: 3px solid #fff;
		box-sizing: border-box;
		background-color: #300924;
	}

	main {
		height:100vh;
		display: flex;

	}

	#hero {
		display: flex;
		color: #ffff;
		flex-direction: column;
		flex: 1;
		overflow-y: auto;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#Tree 
	{
		margin-top: 20px;
		margin-bottom: 20px;
	}

</style>
